.sub:checked {
    outline: 2px dashed red;
    outline-offset: 2px;
}

/* .username:focus {
    outline: 2px solid red;
    color: red;
} */

label {
    display: block;
    width: 100px;
}

.age:in-range {
    border-color: red;
}

.age:out-of-range {
    border-color: blue;
}

.username:valid {
    border-color: green;
}

.username:invalid {
    border-color: red;
}

.password:placeholder-shown {
    border-color: blue;
}
